.container {
  display: flex;
  padding: 111px 122px;
}

.aboutWrapper {
  display: flex;
  width: 55%;
  flex-direction: column;

  & h2 {
    color: var(--secondary_color);
    font-family: var(--font-monts);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & p {
    color: var(--secondary_color);
    font-family: var(--font-montsAlt);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 123px;
  }
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;

  & p {
    color: var(--secondary_color);
    font-family: var(--font-monts);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
