@import url("reset.css");

:root {
  --primary_color: #FFFFFF;
  --secondary_color: #000000;
  --accent_color: #7A002F;
  --placeholder_color: #444444;
  --contact_bg_color: #0B0B0BEB;
}

html,
body {
  width: 100vw;
  scroll-behavior: smooth;
}