.footer {
  padding-top: 27px;
  padding-bottom: 15px;
  padding-left: 122px;
  padding-right: 122px;
}

.footerContentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerMenuItem {
  color: var(--secondary_color);
  font-family: var(--font-monts);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.footerMenuItem:last-child {
    margin-bottom: 0;
}

.adressWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 470px;

  & p {
    color: var(--secondary_color);
    font-family: var(--font-monts);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.adressIcon {
  color: var(--secondary_color);

  & svg {
    width: 32px;
    height: 38px;
    fill: currentColor;
  }
}

.socialIconsList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.socialIconsItem {
  color: var(--secondary_color);
  width: 23px;
  height: 24px;

  & a {
    width: 100%;
    height: 100%;
  }
}

.icon {
  width: 23px;
  height: 24px;
  fill: currentColor;
}

.copyright {
  text-align: center;
  //color: var(--secondary_color);
  font-family: var(--font-nanumMye);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(92deg, #7a002f 42.65%, #000 126.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
