.container {
  padding-top: 80px;
  padding-bottom: 144px;
  padding-left: 122px;
  padding-right: 122px;
  display: flex;
  flex-direction: row;
  background-color: var(--contact_bg_color);
}

.contactsWrapper {
  width: 55%;

  & h2 {
    color: var(--primary_color);
    font-family: var(--font-monts);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.adressWrapper {
  display: flex;
  margin-top: 176px;

  & p {
    color: var(--primary_color);
    font-family: var(--font-monts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.adressIcon {
    margin-top: 72px;
    color: var(--primary_color);
    font-family: var(--font-monts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactButton {
    margin-top: 162px;
    padding: 8px 57px;
    background-color: var(--accent_color);
    border-radius: 30px;
    color: var(--primary_color);
    font-family: var(--font-monts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;

  & p {
    color: var(--secondary_color);
    font-family: var(--font-monts);
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
